.dashboardContainer {
  width: 100%;
  height: 100vh;
  background-color: #081420;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: white;
  position: relative;
}

.dashboardWrapper {
  width: 50%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* border: 3px solid #424c54; */
  border-radius: 10px;
  padding: 10px;
}

.dashboardSearchBx {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #394e6b;
}

.dashboardSearchInput {
  border: transparent;
  background-color: #394e6b;
  padding: 4px;
  color: aliceblue;
}

.dashboardSearchIcon {
  color: white;
  padding: 2px;
}

.dashboardTodoList {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 3px solid #424c54;
  padding: 15px;
}

.checkbox {
  background-color: #2ecb35;
}

.dashboardTitleBox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cancelIcon {
  background-color: #081420;
  /* background-color: transparent; */
  color: #8071e7;
}

.editIcon {
  background-color: transparent;
  color: #8071e7;
}

.navButtons {
  position: absolute;
  top: 20px;
  right: 60px;
  gap: 0px;
}


.navLogoutButton {
  margin: 10px;
  padding: 5px;
  border-radius: 2px;
  border: transparent;
  background-color: #394e6b;
  color: white;
}
